<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="NYSCL2_obj.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>NYSL</title>
</head>
<body class="bg-secondary" >
    <div id="tab">
        <header class="header fixed-top bg-light">
                <div class="navbar">
                    <button class="col-2 rounded btn btn-dark" v-on:click="page = 2"><h1><i class="fas fa-calendar-day"></i></h1></button>
                    <h4 class="col-8 text-center">Northside Youth Soccer League</h4>
                    <button class="rounded col-2 btn btn-dark"><h1><i class="fas fa-caret-left"></i></h1></button>
                    
                </div>
        </header>
        
        <section >
                <div class="container mt-5 alt" v-show="page == 0">
                    <iframe class="col-12" src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=large&timezone=America%2FChicago" width="100%" height="140" frameborder="0" seamless></iframe>
                    <img src="lg.png" alt="">
                </div>
                <div class="mtb container col-12 alt" v-show="page == 2">
                    <table class="col-12">
                        <thead class="bg-light border border-dark">
                            <tr>
                                <th>Day</th><th>Teams</th><th>Location</th><th>Time</th>
                            </tr>
                        </thead>
                        <tbody class="border border-dark bg-dark" v-for="i in septiembre">
                            <tr>
                                    <td>{{ i.september }}</td><td>{{ i.teams1 }}</td><td>{{ i.location1  }}</td><td>{{ i.times1 }}</td>
                                <tr>
                                    <td></td><td>{{ i.teams2 }}</td><td>{{ i.location2 }}</td><td>{{ i.times2 }}</td>
                                </tr>
                            </tr>
                        </tbody>
                    </table>
                    <table class="col-12 mt-2">
                        <thead class="bg-light border border-dark">
                            <tr>
                                <th>Day</th><th>Teams</th><th>Location</th><th>Time</th>
                            </tr>
                        </thead>
                        <tbody class="border border-dark bg-dark" v-for="i of octubre">
                            <tr>
                                    <td>{{ i.octover }}</td><td>{{ i.teams1 }}</td><td>{{ i.location1  }}</td><td>{{ i.times1 }}</td>
                                <tr>
                                    <td></td><td>{{ i.teams2 }}</td><td>{{ i.location2 }}</td><td>{{ i.times2 }}</td>
                                </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container col-12 mtb" v-show="page == 1">
                    <select class="col-12" id="selection" onchange="filter()">
                        <option value="AJ Katzenmaier">U1</option>
                        <option value="North">U2</option>
                        <option value="Greenbay">U3</option>
                        <option value="South">U4</option>
                        <option value="Howard A Yeager">U5</option>
                        <option value="Marjorie P Hart">U6</option>
                    </select>
                    <table class="border border-dark bg-light">
                        <tbody class="col-12" id="tmaps">
                        </tbody>
                    </table>
                </div>
                <div class="container col-12 mtb" v-show="page == 3">
                    <img class="col-12" src="foto_1.png" alt="">
                    <h6 class="col-12 text-center mt-2 text-white">Please direct all questions to: Michael Randall, League Coordinator at (630) 690-8132 or at <a href="michael.randall@chisoccer.org" class="text-warning">michael.randall@chisoccer.org</a></h6>
                </div>
        </section>
        

        <footer class="header fixed-bottom bg-light">
            <div class="navbar">
                <button class="col-3 rounded btn btn-dark" v-on:click="page = 3"><h1><i class="fas fa-comment-alt"></i></h1></button>
                <button class="col-3 rounded btn btn-dark" v-on:click="page = 0"><h1><i class="fas fa-home"></i></h1></button>
                <button class="col-3 rounded btn btn-dark" v-on:click="page = 1"><h1><i class="fas fa-map-marker-alt"></i></h1></button>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="vuejs.js"></script>    
</body>
</html>